@model List<Admin3.Models.OrderDetailModel>
<a asp-action="Add_Edit" asp-controller="OrderDetail" class="btn btn-primary">Add</a>
<table class="table datatable">
    <thead>
        <tr>
            <th>Quantity</th>
            <th>Amount</th>
            <th>Total Amount</th>
            <th>Edit/Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var orderDetail in Model)
        {
            <tr>
                <td>@orderDetail.Quantity</td>
                <td>@orderDetail.Amount</td>
                <td>@orderDetail.TotalAmount</td>
                <td><i class="fa-solid fa-pen-to-square"></i> &nbsp; &nbsp;<i class="fa-solid fa-trash" style="color: #EE4B2B"></i></td>
            </tr>
        }
    </tbody>
</table>