@using System.Data
@model UserModel
<form class="row g-3 m-3" asp-action="Save" asp-controller="User" method="post">
    <div class="col-8">
        <input type="text" class="form-control" id="inputNanme4" name="UserID" asp-for="UserID" hidden>
    </div>
    <div class="col-8">
        <label for="inputEmail4" class="form-label">UserName</label>
        <input type="text" class="form-control" name="UserName" id="inputEmail4" asp-for="UserName">
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <div class="col-8">
        <label for="inputPassword4" class="form-label">Email</label>
        <input type="email" class="form-control" name="Email" id="inputPassword4" asp-for="Email">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="col-8">
        <label for="inputAddress" class="form-label">Password</label>
        <input type="password" class="form-control" name="Password" id="inputAddress" asp-for="Password">
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="col-8">
        <label for="inputAddress" class="form-label">MobileNumber</label>
        <input type="number" class="form-control" name="MobileNumber" id="inputAddress" asp-for="MobileNumber">
        <span asp-validation-for="MobileNumber" class="text-danger"></span>
    </div>
    <div class="col-8">
        <label for="inputAddress" class="form-label">Address</label>
        <input type="text" class="form-control" name="Address" id="inputAddress" asp-for="Address">
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
    <div class="col-8">
        <label for="inputAddress" class="form-label">IsActive</label>
        <input type="text" class="form-control" name="IsActive" id="inputAddress" asp-for="IsActive">
        <span asp-validation-for="IsActive" class="text-danger"></span>
    </div>
    <div class="text-center col-8">
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="reset" class="btn btn-secondary">Reset</button>
    </div>
</form>